extends layout.pug
include ../mixins/sideMenuItems.pug
include ../mixins/navbarMenuItems.pug

block body
    - menuData =  [{"name":"회원관리","items":[{"name":"회원추가","href":"/admin/roll/new"},{"name":"회원명부","href":"/admin/roll","items":[{"name":"정회원명부","href":"/admin/roll?rollType=RegularMember"},{"name":"준회원명부","href":"/admin/roll?rollType=AssociateMember"},{"name":"명예회원명부","href":"/admin/roll?rollType=HonoraryMember"}]},{"name":"제적부","href":"/admin/roll?rollType=Expulsive"},{"name":"제명부","href":"/admin/roll?rollType=PermanentExpulsive"}]},{"name":"입부원서관리","items":[{"name":"입부/재입부원서","href":"/admin/applications"},{"name":"입비/재입부 허가내역","href":"/admin/applications/acceptances"}]},{"name":"운영위원 관리","items":[{"name":"회장직 인수인계","href":"/admin/executives/handover"},{"name":"운영위원 목록","href":"/admin/executives/list"},{"name":"운영위원 권한 관리","href":"/admin/executives/appoint"},{"name":"회장직 인수인계","href":"/admin/executives/types"}]},{"name":"구독","items":[{"name":"이메일 구독 관리", "href": "/admin/subscriptions"}]},{"name":"시스템 관리","items":[{"name":"OpenID Connect 1.0 Client 관리","href":"/admin/oidc"}]}]
    
    nav.navbar.is-danger
        .navbar-brand
            a.navbar-item(href="/admin") 만화두레 회원관리
            a.navbar-burger(role="button",aria-label="menu",data-target="adminNavbar",aria-expanded="false")
                span(aria-hidden="true")
                span(aria-hidden="true")
                span(aria-hidden="true")
        .navbar-menu#adminNavbar
            .navbar-start
                +navbarMenuItems(menuData)
            .navbar-end
                .navbar-item
                    a(href="/logout")
                        button.button 로그아웃
    .container.is-fluid(style="margin-top: 10px;")
        .columns
            .column.is-3.is-hidden-touch
                aside.menu
                    +sideMenuItems(menuData)
            .column.is-9-desktop.is-12
                .container
                    block container-inner
    script(src="/js/admin.js")