extends layout.pug

block head
    link(rel="stylesheet", href="/css/card_centered.css")

block body
    .container.is-fullheight#main-container
        .columns.is-centered.is-vcentered.is-flex
            .column.is-12-mobile.centered_column
                .card
                    .card-content
                        block card-body