doctype html
html(lang="ko-KR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bulma.min.css")
        script(src="/js/common.js", defer)
        if title
            title= title
        else
            title 만화두레
        block head
    body
        block body