extends layout.pug

block head
    link(rel="stylesheet", href="/css/layout.css")

block body
    .is-fullsize
        .columns.is-gapless.is-fullsize
            .column.with-background.is-hidden-mobile
            .column.is-3-desktop.is-4-tablet.is-12-mobile.is-shadowed.right-card(style="min-width: 400px;")
                .container.is-fluid.with-top-padding
                    .level.is-mobile
                        .level-left
                            .level-item
                                block card-title
                                    h1.title= title
                        .level-right
                            .level-item
                                a(href="/")
                                    img.is-logo-img(src="/img/logo.jpg", alt="만화두레")
                    block card-body