extends ./layouts/card_centered.pug
include ./mixins/memberFormFields.pug

block card-body
    if reapplication
        p.title 만화두레 재입부신청
        p 만화두레 재입부신청이 완료됐습니다.
    else
        p.title 만화두레 입부신청.
        p 만화두레 입부신청이 완료됐습니다.