extends ./layouts/right_card_wide.pug
include ./mixins/memberFormFields.pug

block card-title
    if reapplication
        h1.title 재입부신청 완료
    else
        h1.title 입부신청 완료

block card-body
    p 신청이 정상적으로 접수됐습니다.