extends ./layouts/card_centered.pug
include ./mixins/memberFormFields.pug

block card-body
    p.title 만화두레 입부/재입부신청
    if error
        .notification.is-danger= error
    p 이미 회원이시라면 #[a(href="//id.caumd.club/register") 여기]서 회원가입해서 아이디를 만드세요.#[br]입부/재입부는 이름과 학번을 통해 자동으로 구분됩니다.
    form(method="POST", enctype="application/x-www-form-urlencoded")
        if redirect
            input(type="hidden", name="redirect", value=redirect)
        +memberFormFields
        .field
            button.button.is-primary(type="submit") 신청