extends ./layouts/right_card.pug

block card-title
    h1.title 로그인

block card-body
    if error
        .notification.is-danger= error
    form(action='/login', method="POST", enctype="application/x-www-form-urlencoded")
        if redirect
            input(type="hidden", name="redirect", value=redirect)
        .field
            label.label 아이디
            .control
                input.input(type="text", name="id", placeholder="아이디", required)
        .field
            label.label 비밀번호
            .control
                input.input(type="password", name="password", placeholder="비밀번호", required)
        input(type="submit", hidden)
        .level.is-mobile
            .level-left
                .level-item
                    a(href="/forgot_password") 비밀번호를 잊으셨나요?
            .level-right
                .level-item
                    .field
                        .control
                            button.button.is-primary(type="submit") 로그인
    hr
    h2.subtitle 만화두레에 처음이신가요?
    p 만화두레에 처음이시라면 #[a(href="//apply.caumd.club") 여기]서 입부해주세요!
    hr
    h2.subtitle 회원이지만 아이디가 없으신가요?
    p #[a(href="/register") 여기]서 아이디를 만들어주세요!