extends ./layouts/right_card_wide.pug

block card-title
    p.title 회원가입 완료

block card-body
    if error
        .notification.is-danger= error
    p 회원가입이 완료됐습니다. #[a(href="/login") 여기]를 눌러 로그인해주세요.