extends ./layouts/card_centered.pug

block card-body
    p.title 만화두레 회원가입
    p.subtitle 이메일 인증 완료
    if error
        .notification.is-danger= error
    p 회원가입이 완료됐습니다. #[a(href="/login") 여기]를 눌러 로그인해주세요.