extends ./layouts/right_card_wide.pug

block card-title
    p.title 비밀번호 변경

block card-body
    if error
        .notification.is-danger= error
    if message
        .notification= message
    form(method="POST", enctype="application/x-www-form-urlencoded")
        .field
            label.label 현재 비밀번호
            .control
                input.input(type="password", name="password", placeholder="현재 비밀번호")
        .field
            label.label 새로운 비밀번호
            .control
                input.input(type="password", name="new_password", minlength=5, required, placeholder="새로운 비밀번호")
            p.help 비밀번호는 최소 5자리 이상이어야 합니다.
        .field
            label.label 새로운 비밀번호 재입력
            .control
                input.input(type="password", name="new_password_retype", minlength=5, required, placeholder="새로운 비밀번호 재입력")
        .field
            .control
                button.button(type="submit") 변경