html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(255, 0, 0, 0.5), 
        rgba(255, 0, 0, 0.5)
      ), url('/img/background.jpg');
    background-size: cover;
}
#main-container, #main-container .columns {
    height: 100%;
    flex-wrap: wrap;
}
@media screen and (min-width:769px) {
    #main-container .column.centered_column {
        width: 500px;
        max-width: 600px;
        flex: none;
    }
}