extends ../layouts/right_card.pug

block card-title
    h1.title 비밀번호 찾기

block card-body
    if error
        .notification.is-danger= error
    p 회원가입시 사용한 이메일 주소를 이용하여 비밀번호를 찾습니다.
    form(method="POST", enctype="application/x-www-form-urlencoded")
        .field
            label.label 이메일 주소
            .control
                input.input(type="email", name="email", placeholder="예시: example@example.com", required)

        input(type="submit", hidden)
        .field.is-grouped.is-grouped-right
            .control
                button.button.is-primary(type="submit") 비밀번호 찾기